/*
Victoria Huynh
4/9/2018
Section: CSE 154 AI 

This is the stylesheet for my website.
*/

@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Domine');

body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("miscimages/background.gif");
    background-color: purple;
    font-family: 'Domine', serif;
}

main {
    background-color: white;
    text-align: left;
    padding: 2%;
}

header {
    background-color: black;
}

h1, h2, h3 {
    font-family: "Lobster Two", cursive;
    margin: 0;
    padding: 10px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
}

h2 {
    color: black;
    font-size: 24px;
}

.nav {
    background-color: black;
    overflow: hidden;
}

.nav a {
    float: left;
    color: blue;
    text-align: center;
    font-size: 17px;
    padding: 14px 16px;
}

.nav a:hover {
    color: white;
}

.nav .active {
    background-color: purple;
    color: white;
}

.nav > img {
    display: block;
    border-radius: 50%;
    margin: 1% auto 1% auto;
    height: 150px;
}

#main-page {
    display: flex;
    flex-direction: column;
}

#main-page aside {
    flex-basis: 50%;
}

#main-page section {
    flex-basis: 50%;
}

.column {
    padding: 2em;
	margin: 2em;
	border: 4px;
	border-style: solid;
	border-color: black;
}

#about-me img {
    display: block;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

#album-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}

#album-container img {
    margin-top: 5%;
    margin-bottom: 5%;
    height: 400px;
}

footer {
    position: fixed;
}
